@import url ('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200&family=Poppins:wght@100;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1{
    font-size: 50px;
    light-height: 64px;
    color: #222
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222
}

h4{
    font-size: 20px;
    color: #222
}

h6{
    font-weight: 600;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #808080;
    margin: 15px 0 20px 0;
}

/* section-p1{
    padding: 20px 80px;
} */

section-m1{
    margin: 40px 0px;
}

body{
    width: 100%;


}
button.normal{
    font-size: 14px;
    padding: 15px;
    font-weight: 600;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: .2s;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.header .navbar{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.header .navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.header .navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: .3s ease;
}

#mobile{
    display: none;
    align-items: center;
}

.header .navbar li a:hover,
.header .navbar li a.active {
    color: #088178;
}

.header .navbar li a.active::after,
.header .navbar li a:hover::after{
    content: '';
    width: 30%;
    height: 2%;
    position: absolute;
    bottom: 6px;
    left: 40px;
}

.hero{
    background-image: url("../img/hero4.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 20% right 0;
    padding: 0 88px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero h4{
    padding-bottom: 15px;

}

.hero h1{
 color: #088178
}

.hero button{
    background-image: url("../img/button.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-right: 100px;
}

#feature .fe-box{
    width: 180px;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.01);
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
#feature .fe-box h6{
    display: inline-block;
    padding: 9px 9px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
    text-align: center;
    margin-left: 25%;
}

#feature .fe-box h6:nth-child(2){
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}

#feature .fe-boxnth-child(6) h6:{
    background-color: #fff2e5;
}

#product1{
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

#product1 .pro-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px
}
#product1 .pro{
    width: 90%;
    min-width: 250px;
    padding: 20px 12px;
    border: 1px solid #cce7d0;
    border-radius: 15px;
    box-shadow: 20px 20px 30px rgba(0,0,0, 0.02);
    margin: 7px 0;
    transition: .2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0, 0.06);
}

#product1 .pro img{
    width: 100%;
    border-radius: 10px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 2px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgba(255, 181, 15)
}

#product1 .pro .des h4{
    padding-top: 2px;
    font-size: 15px;
    font-weight: 700;
    color: #088176
}

#product1 .pro .cart{
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 40px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    margin-top: -25px;  
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    color: light
}

#banner h4{
    color: #fff;
    font-size: 16px;
}

#banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span{
    color: #ef3636;
    font-size: 26px;
    padding: 10px 0;
}

#banner button:hover{
    background-color: #088178;
    color: #fff
}
#sm-banner{
    padding: 20px 120px 0 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/banner/b17.jpg");
    width: 48%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    color: light
}
#sm-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}


#sm-banner span{
    color: #fff;
    font-size: 12px;
    font-weight: 800;
    padding-bottom: 15px;
}

button.white{
    font-size: 13px;
    padding: 11px 18px;
    font-weight: 600;
    color: #000;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid white;
    transition: .2s;
    color: #fff
}

button.white:hover{
    background-color: #088178 
}

button.green{
    font-size: 13px;
    padding: 11px 18px;
    font-weight: 600;
    color: #000;
    background-color: #088178;
    cursor: pointer;
    border: 1px solid white;
    transition: .2s;
    color: #fff
}

button.green:hover{
    background-color: #fff;
    color: #088178 
}


#sm-banner .banner-box2{
    background-image: url("../img/banner/b10.jpg")
}

#banner3{
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(360px, 1fr));
    padding: 20px 80px 20px 100px;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/banner/b7.jpg");
    width: 90%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    color: light
}

#banner3 h2{
    color: #fff;
    font-size: 22px;
    font-weight: 900;
}

#banner3 h3{
    color: #ec544e;
    font-size: 15px;
    font-weight: 800;
}

#banner3 .banner-box2{
    background-image: url("../img/banner/b4.jpg")
}

#banner3 .banner-box3{
    background-image: url("../img/banner/b18.jpg")
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("../img/banner/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
    padding: 60px 100px 0 100px; 
}

#newsletter .newstext h4{
color: #ffff;
font-size: 22px;
font-weight: 700;
}

#newsletter .newstext p{
    color: #818ea0;
    font-size: 14px;
    font-weight: 600;
}

#newsletter .newstext p span{
    color: #ffbd27;
}

button.signup{
    font-size: 13px;
    padding: 11px 18px;
    font-weight: 600;
    color: #000;
    background-color: #088178;
    cursor: pointer;
    border: 1px solid white;
    transition: .2s;
    color: #fff
}

button.signup:hover{
    background-color: #fff;
    color: #088178 
}

#newsletter .form input{
    border: none;
    padding: 11px 18px;
}


.footer{
    background-color: #fff;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 10px
}

.footer .box-container .box h3{
    font-size: 16px;
    padding: 10px 0;
}

.footer .box-container .box h3 i{
    color: #ffbd27
}

.footer .box-container .box .links{
    display: block;
    font-size: 16px;
    color: var(--light-color);
    padding: 10px;
    text-decoration: none;
}

.footer .box-container .box .links i{
    color: #088178;
    padding-right: 4px;
}

.footer .box-container .box p{
    light-height: 1.8;
    font-size: 16px;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .share {
    display: flex;
    justify-content: center;
    align-items: center; 
}


.footer .box-container .box .share a {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex: 0 0 auto;
    height: 35px;
    width: 40px;
    border-radius: 4px;
    font-size: 20px;
    color: #eee;
    margin-left: 3px;
    background-color: #eee;
    text-align: center;
    transition: background-color 0.3s;
}

.footer .box-container .box .share a:not(:last-child) {
    margin-right: 10px; 
}

.footer .box-container .box .links:hover i{
    padding-right: 10px;
}


.footer .box-container .box .share a:hover {
    background-color: #ffbd27;
    color: #fff;
}

.footer .box-container .box .email{
    border: none;
    margin: .7rem 0;
    padding: 1rem;
    background-color: #eee;
    font-size: 15px;
    color: #eee;
    text-transform: none;
}

.footer .box-container .box .payment-img{
    margin-top: 4px;
    height: 20px;
}

.footer .credit{
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    padding-top: 1rem;
    font-size: 14px;
    color: #eee;
    border-top: var(--border)
}

.footer .credit span{
    color: #ffbd27
}





/* ... (phần CSS khác) */

/* Định dạng menu điều hướng trên giao diện di động */
@media (max-width: 714px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 30px; 
        right: -140%;
        height: 100vh;
        width: 200px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 64px rgba(0, 0, 0, 0.1);
        padding: 40px 0 30px 0;
        transition: .2s linear;
    }

    #mobile {
        display: flex;
        align-items: center;
        padding: 0 20px 0 0;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #navbar.active {
        right: 0; /* Hiển thị menu khi có lớp "active" */
    }

    #close {
        position: absolute;
        left: 50%;
        top: 5px;
        transform: translateX(-50%); /* Để căn giữa nút "close" */
        color: #222;
        font-size: 24px;
    }
}
